/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #212122;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 1024px;
    margin: 30px auto;
    padding: 20px;
    background: #b9b4d8;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* Estilo do banner */
.top-banner {
    text-align: center;
    margin-bottom: 20px;
}

.top-banner img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* Títulos */
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #056208;
}

/* Botões e Links */
a {
    text-decoration: none;
    color: #056208;
}

a:hover {
    text-decoration: underline;
}

.btn {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 20px;
    background: #4CAF50;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.btn:hover {
    background: #45a049;
}

/* Formulário */
form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: #555;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

textarea {
    resize: vertical;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 10px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
    background: #4CAF50;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background: #45a049;
}

/* Tabela */
.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    text-align: left;
    padding: 10px;
    border: 1px solid #ddd;
}

table th {
    background-color: #f4f4f4;
    color: #333;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}
